$purple: #8330b4;
$light-pink: #d7aaf1;
$white: rgb(248, 248, 248);
$purple-gradient: linear-gradient(134deg, purple 0%, #6e2f93 99%);
$black: rgb(25, 25, 25);
$gray: rgb(56, 56, 56);
$black-gray: rgb(35, 35, 35);
